.hero{
  background-image: url(./assets/jeny&omar.JPG);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 75%;
}

hr{
  width: 30px;
  font-weight: bold;
  margin: 5px auto;
}

.merriweather-bold {
  font-family: "Merriweather", serif !important;
  font-weight: 700;
  font-style: normal;
}

.cedarville-cursive-regular {
  font-family: "Luxurious Script", serif !important;
  font-style: normal;
  text-align: center;
  line-height: .9 !important;
  font-weight: bold!important;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif !important;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif !important;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif !important;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif !important;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif !important;
  font-weight: 800;
  font-style: normal;
}

.flor1{
  width: 300px;
  position: absolute;
  top: 0px; /* Mueve el elemento hacia abajo 10px */
  left: 20px; /* Mueve el elemento hacia la derecha 20px */
}

.watermark-container{
  background: url('./assets/florrosa.png') no-repeat center;
  opacity: 0.15; /* Hace que la imagen sea transparente */
  width: 100%;
  height: 600px;
  transform: rotate(-50deg);
  top: -80px;
  left: 150px;
}
.watermark-container2{
  position: absolute; /* Posición relativa para que los elementos hijos se posicionen correctamente */
  background: url('./assets/florrosa.png') no-repeat center;
  opacity: 0.15; /* Hace que la imagen sea transparente */
  width: 100%;
  height: 600px;
  transform: rotate(45deg);
  top: -50px;
  right: 100px;
}
.watermark-container3{
  position: absolute; /* Posición relativa para que los elementos hijos se posicionen correctamente */
  background: url('./assets/florrosa.png') no-repeat center;
  opacity: 0.15; /* Hace que la imagen sea transparente */
  width: 100%;
  height: 600px;
  transform: rotate(-25deg);
  bottom: 0px;
  left: 100px;
}
